body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: linen;
}
header{
    background-color: rgb(217, 161, 40);
    padding: 10px;
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul a{
    text-decoration: none;
    color: navy;
    border-radius: 5px;
    padding: 5px;
}
nav ul a:hover{
    background-color: aqua;
    color: red;
}
main{
    max-width: 80%;
    margin: 10px auto;
}
section{
    /* border: 2px solid navy; */
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 10px 10px 10px navy;
    border-radius: 10px;
}
h2{
    color: blue;
    text-align: center;
}
h3{
    color: lightseagreen;
}
.profile{
    border-radius: 70px;
}

#container{
    display: flex;
}
.proj{
    border: 1px solid turquoise ;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px skyblue;
    margin-right: 5px;
}
form{
    width: 50%;
    margin: 10px auto;

}
form label{
    display: block;
    font-weight: bold;
}
 form input, textarea{
    border: 1px solid navy;
    width: 100%;
    border-radius: 10px;
 }
 button{
    background-color: rgb(47, 241, 255);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border: none;
    margin-top: 5px;
    
 }
 footer{
    background-color: rgb(69, 193, 231);
    padding: 10px;
    text-align: center;
 }
 footer a img{
    border-radius: 25px;
 }