body{
    background-color: blue;
}
h1{
    color: red;
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
}
#id1{
    color: aqua;
}
#id2{
    color: rgb(79, 4, 53);
}
.profile{
    border-radius: 10px;
    width: 200px;
    height: 200px;

}
.proj{
    color: blueviolet;
}